<div class="column is-three-fifths">
    <nav class="panel is-light">
      <p class="panel-heading">
        State
      </p>
      {% for seq_idx in state %}
      <div class="columns">
        {% for par_idx in state[seq_idx] %}
        <div class="column is-one-fifths">

        <a class="panel-block" href="#">
          <div class="control">
            <div class="tags has-addons">
              <span class="tag is-light"><b>{{seq_idx}}/{{par_idx}}</b></span>
              <span id="{{state[seq_idx][par_idx]['key']}}"
                    title="{{definition[seq_idx][par_idx]['value']}}"
                    class="tag is-light {{state[seq_idx][par_idx]['value']}}">
                {{definition[seq_idx][par_idx]["value"]["TaskName"]}}
              </span>
            </div>
          </div>
        </a>
        </div><!-- column -->
        {% endfor %}
      </div><!-- columns -->
      {% endfor %}
    </nav>
</div>
