<div class="column">Auto</div>
</div> <!-- main columns -->
</div> <!-- container -->
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <div class="soc">
            <a href="#"><i class="fa fa-github-alt fa-lg" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
          </div>
          <p>
            <strong>UX-CMP</strong><br>
          </p>
        </div>
      </div>
    </footer>
<script>
  var socket = io();
  socket = io('http://localhost:6006',
              { forceNew: true});
  socket.on('connect', function(){
    $("#conn").text("connected");
  });

  socket.on('state', function(data){
    $("#"+data["key"]).text(data["value"]);
  });
  socket.on('disconnect', function(){
    $("#conn").text("disconnected");
  });
</script>

</body>
</html>
