<div class="column">Auto</div>
</div> <!-- main columns -->
</div> <!-- container -->
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <div class="soc">
            <a href="#"><i class="fa fa-github-alt fa-lg" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
          </div>
          <p>
            <strong>UX-CMP</strong><br>
          </p>
        </div>
      </div>
    </footer>
<script>
  var socket = io();
  var val_to_class = {"ready": "is-success",
                      "error": "is-danger",
                      "run": "is-info",
                      "mon": "is-info"}
  
  socket = io('http://localhost:6006', { 'forceNew': true });
  
  socket.on('connect', function(){
    $conn = $("#conn"); 
    $("#conn").text("connected");
    $conn.removeClass("is-light is-warning");
    $conn.addClass("is-success"); 
  });

  socket.on('disconnect', function(){
    $conn = $("#conn"); 
    $conn.text("disconnected");
    $conn.removeClass("is-light is-success");
    $conn.addClass("is-warning");

    socket.socket.reconnect();
  });
  
  socket.on('state', function(data){
    $e = $("#" + data["key"]); 
    $e.text(data["value"]);  
  });
  
  socket.on('ctrl', function(data){
    
    $e = $("#" + data["key"]);
    val = data["value"];
    console.log("#" + data["key"]);
    console.log(val);
    $e.removeClass()
    $e.addClass("tag is-dark")
    $e.addClass(val_to_class[val]);

  });

</script>

</body>
</html>
