    </div> <!-- container -->
    <footer class="footer">
      <div class="container">
        <div class="content has-text-centered">
          <div class="soc">
            <a href="#"><i class="fa fa-github-alt fa-lg" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-youtube fa-lg" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-facebook fa-lg" aria-hidden="true"></i></a>
            <a href="#"><i class="fa fa-twitter fa-lg" aria-hidden="true"></i></a>
          </div>
          <p>
            <strong>UX-CMP</strong><br>
          </p>
        </div>
      </div>
    </footer>
    <!--
	 <script src="../js/cardsData.js"></script>
	 Using Vue to populate cards to reduce redundant code
	 -->
  </body>
</html>
