<!DOCTYPE html>
<html lang="en">

  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>UX-CMP</title>
    <link rel="stylesheet" href="/css/bulma.css" />
    <script src="/js/socket.io.js"></script>
    <script src="/js/jquery-3.5.1.min.js"></script>
  </head>

  <body class="is-family-sans-serif">
    <section class="hero is-dark">
      <div class="hero-body">
        <div class="container">
          <h1 class="title">{{title.head}}</h1>
          <h2 class="subtitle">{{title.sub}}</h2>
        </div>
      </div>
    </section>
    <nav class="navbar">
      <div class="container">
        <div class="navbar-brand">
          <a class="navbar-item" href="#">
            <span id="conn" class="tag is-light">connecting ...</span>
          </a>
          <span class="navbar-burger burger" data-target="navbarMenu">

            <span></span>
            <span></span>
          </span>
        </div>
        <div id="navbarMenu" class="navbar-menu">
          <div class="navbar-end">
            <a class="navbar-item is-active">
              Home
            </a>
            <a class="navbar-item">
              Examples
            </a>
            <a class="navbar-item">
              Features
            </a>
            <a class="navbar-item">
              Team
            </a>
            <a class="navbar-item">
              Archives
            </a>
            <a class="navbar-item">
              Help
            </a>
          </div>
        </div>
      </div>
    </nav>
    <div class="container">
      <div class="columns">
        <div class="column is-one-fifth">

          <nav class="panel is-dark">
            <p class="panel-heading">
              Container
            </p>
            {% for cont in container %}
            <a class="panel-block" href={{cont["link"]}}>
              <div class="control">
                <div class="tags has-addons">
                  <span class="tag is-light">{{cont["idx"]}}</span>
                  <span id='{{cont["ctrl_key"]}}' class="tag {{cont['ctrl_value']}}">{{cont["value"]}}</span>
                </div>
              </div>
            </a>
            {% endfor %}
          </nav>

          <nav class="panel is-dark">
            <p class="panel-heading">
              Definitions
            </p>
            {% for defin in definitions %}
            <a class="panel-block" href={{defin["link"]}}>
              <div class="control">
                <div class="tags has-addons">
                  <span class="tag is-light">{{defin["idx"]}}</span>
                  <span id='{{defin["ctrl_key"]}}' class="tag {{defin['ctrl_value']}}">{{defin["value"]}}</span>
                </div>
              </div>
            </a>
            {% endfor %}
          </nav>
        </div>
